{% extends 'forum/base.html' %}
{%block title%}Category Index{%endblock%}
{% block content %}
<h1> Posts in {{category.name}}</h1>
{% for fp in latest_posts_in_cat %}
<p class="posts">
Topic: <a href = '/posts/{{fp.id}}'> {{fp.topic}} </a>
<br>
<b> By: </b> <a href="/profile/{{fp.author}}">{{fp.author}}</a>
<br>
Posted On : {{fp.date}} 
</p>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if latest_posts.has_previous %}
        <a href="?page={{ latest_posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
         Page {{ latest_posts.number }} of {{ latest_posts.paginator.num_pages }}.
     </span>

     {% if latest_posts.has_next %}
     <a href="?page={{ latest_posts.next_page_number }}">next</a>
     {% endif %}
 </span>
</div>

{%endblock%}