{% extends 'forum/base.html' %}

{% block content %}

{%if user.is_authenticated%}
<h1>Add A New Post</h1>
<form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Post It!</button>
</form>
{%else%}
<h3>To Add Posts You Need To Login First</h3>
{%endif%}

<br>
<h2> Recent Posts </h2>
{% for fp in latest_posts %}
Topic: <a href = '/posts/{{fp.id}}'> {{fp.topic}} </a>
<br>
<b> By: </b> <a href="/profile/{{fp.author}}">{{fp.author}}</a>
<br> Posted in: <a href = '/category/{{fp.category}}'> {{fp.category.name}}</a>
<br>Posted On : {{fp.date}} 
<hr> 
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if latest_posts.has_previous %}
            <a href="?page={{ latest_posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ latest_posts.number }} of {{ latest_posts.paginator.num_pages }}.
        </span>

        {% if latest_posts.has_next %}
            <a href="?page={{ latest_posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}
