{% extends 'forum/base.html' %}
{%block title%}Message{%endblock%}
{% block nav-msg%}class="active"{%endblock%}
{% block content %}
<script>
	var x;
	var id = {{user.id}};
	function refresh() {
		$.ajax({
			url: document.URL+'refresh',
			success: function(data) {

				x = JSON.parse(data);
				var htm='';
				for(var i=0; i<x.length; i++){
					if(id == x[i]['fields']['user1']) htm+='<div class="row"> <div class="col-xs-4"></div><div class="col-xs-8"><p style="text-align:right; color:white; font-size:16px; border-radius:5px; padding:2px; padding-right:6px; padding-left:6px; background-color:#0084ff; ">'+x[i]['fields']['message']+'</p></div></div>';
					else  htm+='<div class="row"><div class="col-xs-8"><p style="text-align:left; border-radius:5px; padding:2px; background-color:#f1f0f0; padding-right:6px; padding-left:6px; font-size:16px; ">'+x[i]['fields']['message']+'</p></div><div class="col-xs-4"></div></div>';
				}
				$('.msgclass1').html(htm);
			},
			error: function(){
				console.log('Ajax Error');
			}

				//console.log('doing');
			});
	}

	$(function(){
		refresh();
	});
	refresh();
	setInterval("refresh()", 1000);
</script>


<br>

{%if not user.is_authenticated%}
You need to login to use this feature, this is only for members.
{%endif%}
<h1><a href='/profile/{{reciever}}' style="color:black; text-decoration:none;">{{reciever.first_name}} {{reciever.last_name}}</a></h1>
<form method="POST" class="post-form">{% csrf_token %}
	<div class="row">
	<div class="col-xs-8">
	{{ form }}
	</div>
	<div class="col-xs-4">
	<button type="submit" value='Message' name='Message' class="save btn btn-default"><i class="glyphicon glyphicon-send" style="color:#0084ff"></i> Send</button>
	</div>
	</div>
</form>
<br>
<p class='msgclass1' id='msgclass1'>
</p>

{%endblock%}