{% extends 'forum/base.html' %}

{% block content %}

<script>
	var x;
	var id = {{user.id}};
	function refresh() {
		$.ajax({
			url: '/messager',
			success: function(data) {

				x = data;
				msg = JSON.parse(x.msg);
				var htm='';
				user = JSON.parse(x.user);
				for(var i=0; i<msg.length; i++){
					if(!msg[i].fields.msg_read && msg[i].fields.user2==id)htm+='<h3><a href="/messages/'+user[i].fields.username+'">'+user[i].fields.username+'</a> <i class="fa fa-exclamation" style="color:red" aria-hidden="true"></i></h3>';
						else htm+='<h3><a href="/messages/'+user[i].fields.username+'">'+user[i].fields.username+'</a><i class="fa fa-check" style="color:green" aria-hidden="true"></i></h3>';
					if(msg[i].fields.user1 == user[i].pk) htm+='<p> <i class="fa fa-arrow-right" aria-hidden="true"></i>'+msg[i]['fields']['message']+'</p>';
					else  htm+='<p><i class="fa fa-arrow-left" aria-hidden="true"></i> '+msg[i]['fields']['message']+'</p>';
				}
				$('.msgclass').html(htm);
			},
			error: function(){
				console.log('Ajax Error');
			}

			});
	}
	

	$(function(){
		refresh();
	});
	refresh();
	setInterval("refresh()", 1000);
</script>


<br>

{%if not user.is_authenticated%}
You need to login to use this feature, this is only for members.
{%endif%}

<p class='msgclass' id='msgclass'>
</p>

<!-- 
<div class="comments container">
	{%ifequal current_post_comments.count 0%}
	No Comments Till Now
	{%else%}
	Comments
	{%for com in current_post_comments%}
	<p>
		<b> By: </b> <a href="/profile/{{com.author}}">{{com.author}}</a>

		On: {{com.date}}
		<br>
		{{com.comment}}
	</p>
	{%endfor%}
	{%endifequal%}
</div>	
-->{%endblock%}