{% extends 'forum/base.html' %}

{% block content %}

{% with current_post as cp%}
<h1>{{cp.topic}}</h1>
<b> By: </b> <a href="/profile/{{cp.author}}">{{cp.author}}</a>

<b> Posted on :</b> {{cp.date}}
<p>{{cp.text}}</p>
<b>  Posted in :</b> <a href = '/category/{{cp.category}}'> {{cp.category.name}} </a>
<br>
{%endwith%}
<br>
{%if user.is_authenticated%}
Add A Comment
<form method="POST" class="post-form">{% csrf_token %}
	{{ form }}
	<button type="submit" class="save btn btn-default">Post It!</button>
</form>
{%else%}
To Add A Comment Log In First
{%endif%}
<br>
{%if user.is_authenticated%}
{%ifequal user current_post.author%}
<form method="POST" class="post-form">{% csrf_token %}
{{form2}}
	<input type="submit" value="Edit" class="save btn btn-primary" name="Edit">
	<input type="submit" value="Delete" class="save btn btn-danger" name="Delete">
</form>
{%endifequal%}
{%endif%}


<div class="comments container">
	{%ifequal current_post_comments.count 0%}
	No Comments Till Now
	{%else%}
	Comments
	{%for com in current_post_comments%}
	<p>
		<b> By: </b> <a href="/profile/{{com.author}}">{{com.author}}</a>

		On: {{com.date}}
		<br>
		{{com.comment}}
	</p>
	{%endfor%}
	{%endifequal%}
</div>	
{%endblock%}