{% extends 'forum/base.html' %}
{%block ucss%}
.modal-dialog{
width:80%;
padding:20px;
}
.modal-body .input-group{
width:100%;
}
.post_text{
border:2px solid rgba(0,0,0,0.1);
border-radius:5px;
padding:40px;
padding-top:20px;
font-family: 'Source Sans Pro', sans-serif;
font-size:20px;
}
.post_detail{
margin-left:15%;
margin-right:15%;
text-align:center;
font-family:Raleway, sans-serif;
}
.heading{
margin-left:15%;
margin-right:15%;
text-align:center;
}
h1{
font-family:Raleway, sans-serif;
}
footer {
position: fixed;
height: auto;
bottom: 0;
width: 100%;
background-color:white;
font-size:20px;
}
.content{
margin-bottom:100px;
}
.panel-info{
border:0px solid white;
box-shadow:none;
}

{%endblock%}

{% block content %}

{% with current_post as cp%}

<h1 class="heading" >{{cp.topic}}</h1>
{%if user.is_authenticated%}
{%ifequal user current_post.author%}
<div class="heading">
	<button type="button" class=" btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal">Edit/Delete <span class="glyphicon glyphicon-cog"></span></button>
</div>
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit/Delete</h4>
			</div>
			<div class="modal-body">
				<div class='input-group'>
					<form method="POST" class="post-form">{% csrf_token %}
						{%autoescape off%}{{ form2.as_p }}{%endautoescape%}
						<input type="submit" value="Edit" class="save btn btn-primary" name="Edit">
						<input type="submit" value="Delete" class="save btn btn-danger" name="Delete">
					</form>
					<br>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
</div>

{%endifequal%}
{%endif%}
<br>
<div class='post_detail'>
	<b> By: </b> <a href="/profile/{{cp.author}}">{{cp.author.first_name}} {{cp.author.last_name}}</a> &nbsp;&nbsp;|&nbsp;&nbsp; <b> Posted on :</b> {{cp.date}} &nbsp;&nbsp;|&nbsp;&nbsp; <b>  Posted in :</b> <a href = '/category/{{cp.category}}'> {{cp.category.name}} </a>
</div>
<br>
<div class='post_text'>
	<p>{%autoescape off%}{{cp.text}}{%endautoescape%}</p>
</div>
{%endwith%}
{%if user.is_authenticated%}
<br>
<h3>Comments</h3>
<br>
<form method="POST" class="post-form">{% csrf_token %}
	<div class='row'>
		<div class='col-xs-6'>
			{{form.as_p}}
		</div>
		<div class='col-xs-6' style='margin-top:5px;'>
			<br>
			<input type="submit" value='Comment' name='Comment' class="save btn btn-default">	
		</div>
	</div>
</form>
{%else%}
To Add A Comment <a href='/login'>LogIn</a> First
{%endif%}
<br>

<div class="comments container">
	{%ifequal current_post_comments.count 0%}
	<h4>No Comments Till Now</h4>
	{%else%}
	<h3>User Comments:</h3>
	{%for com in current_post_comments%}
	<p class='comments comment'>
		{{com.comment}}
		<br>
		<b> By: </b> <a href="/profile/{{com.author}}">{{com.author.first_name}} {{com.author.last_name}}</a> &nbsp;&nbsp;|	&nbsp;&nbsp;<b>On:</b> {{com.date}}
	</p>
	{%endfor%}
	{%endifequal%}
</div>	
<br>
<br>
<br>
<iframe src="//127.0.0.1:8080/loading" id="FrameID" style="background-color:white; border:2px solid black; display:none; position:fixed; height:80%; width:80%; left:10%; top:15%; z-index:5000"></iframe>
<button class="btn btn-primary" id="btfr" onclick="$('#FrameID').hide(); $('#btfr').hide();$('#FrameID').attr('src','//127.0.0.1:8080/loading');
		document.getElementById('FrameID').contentWindow.location.reload(true);"style="display:none; 	position:fixed; top:10%; right:5%; z-index:5000"><i class="fa fa-close"></i></button>
{%endblock%}

{%block loadfooter%}

<footer class="fixed-bottom">
	<div class="panel panel-info" style="display:none;">
		<div class="panel-heading" id="mapi">Panel Head</div>
		<div class="panel-body" id="meaning">Panel Meaning</div>
	</div>
</footer>
<!-- Trigger the modal with a button -->


<!-- Modal -->


<script type="text/javascript">
	var yz="";
	var text="";
	/*
	function getImageJson(){

		$.ajax({
			url: 'http://139.59.92.162:8000/data/'+text,
			success: function(py) {
				$('.overlay-head').html('Image Result For : '+ text+
					'<i class="fa fa-close" style="position:absolute; right:30px;" onclick="$(\'.overlay\').hide()"></i>');
				yz = py;
				yz = JSON.parse(yz);
				var htmll="<div class='row'>";

				for(var i=0; i<yz.value.length; i++){
					htmll+='<div class="col-xs-6"><img src="'+yz.value[i].contentUrl+'" style="z-index:500; margin:0px; padding:25px;"></img></div>';
				}
				htmll+="</div>";
				$('.cont').html(htmll);
				$('.overlay').show();
				$('.panel').hide();
			},
			error: function(){
				$('#meaning').html('Please Install <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en">Install Extension For Using API(s) due to security issues.</a> ');
			}
		});
	}
	*/
	function getImageJson(){
		
		$('#FrameID').show();
		$('#btfr').show();
		$('#FrameID').attr('src','//127.0.0.1:8080/data/'+text);
		document.getElementById('FrameID').contentWindow.location.reload(true);

	}
	function getRecieveJson(argum){
		$.ajax({
			url: 'http://139.59.92.162:8000/query/'+argum,
			success: function(data) {
				yz = data;
				yz = JSON.parse(yz);
				var htm = '<p class="meani">' + yz.webPages.value[0].snippet +'</p> &nbsp;<a class="meanilink" title="Open Reference" href="'+yz.webPages.value[0].url+'" target="_blank" ><i class="fa fa-external-link" aria-hidden="true"></i></a>  &nbsp;&nbsp;&nbsp;&nbsp;'+'<a class="meanilink" href="'+yz.webPages.webSearchUrl+'" target="_blank" title="Get More Results From Bing"><i class="fa fa-external-link" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info btn-lg" onclick="getImageJson();">Search For Images</button>';
				$('#meaning').html(htm);
			},
			//
			error: function(){
				$('#meaning').html('Please Install <a href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi?hl=en">Install Extension For Using API(s) due to security issues.</a> ');
			}

		});
	}
 /*	function getSelectionText() {
		var text = "";
		var full_text="";

		if (window.getSelection){
			text = window.getSelection().toString();
		} else if (document.selection && document.selection.type != "Control") {
			text = document.selection.createRange().text;
		}
		return text;
	}

	document.onmouseup = document.onkeyup = document.onselectionchange = function() {
		var x = getSelectionText();
		$('#mapi').text(x);
		if(x.length==0){
			$('.panel').hide();
		}
		else{
			$('.panel').show();
			$('#meaning').text('Loading...');
			getRecieveJson(x);
		}
	};
	*/
	var t = '';
	/*	function gText(e) {*/
		$(".post_text").mouseup(function(){

			t = (document.all) ? document.selection.createRange().text : 								document.getSelection();
			var x ="";
			x+=t;
			$('#mapi').text(x);

			if(x.length==0){
				$('.panel').hide();
			}
			else{
				text=x;
				$('.panel').show();
				$('#meaning').text('Loading...');
				getRecieveJson(x);
			}
		});
 /*
	document.onmouseup = gText;
	if (!document.all) document.captureEvents(Event.MOUSEUP);
	*/

</script>

{%endblock%}