{% extends 'forum/base.html' %}
{%block title%}Sign Up!{%endblock%}
{%block nav-signup%}class="active"{%endblock%}
{% block content %}
<script>
/*  $( function() {
    $( "#datepicker" ).datepicker({
      dateFormat: 'yy-mm-dd',
      yearRange:'1900:2017',
    });
  } );
*/  </script>
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class='btn btn-success btn-lg'>Sign up</button>
  </form>
{% endblock %}